{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Job Site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="static/image/favicon.JPG"/>
<link rel="stylesheet" href='{% static "/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>

<body>

    <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/index" class="w3-bar-item w3-button w3-wide">Job Site</a>
      <a href="#" class="w3-bar-item w3-button w3-opacity"> |</a>
      <a href="/dashboard" class="w3-bar-item w3-button ">DashBoard</a>
      <div class="w3-right w3-hide-small">
        <a href="/login" id="username"  style="display: none;" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Login</a>
        <a  id="spinner"  class="w3-bar-item w3-button"> <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
       
        
        <a href="/user_logout" id="logout" style="display: none;" class="w3-bar-item w3-button"><i class="fa fa-sign-out w3-text-red"></i> logout</a>
        <a  id="username_storage" style="display: none;">{{username}}</a>
        <a  id="usertype_storage" style="display: none;">{{user_type}}</a>
      </div>
       <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="openNav()">
        <i class="fa fa-bars"></i>
        </a>
    </div>
  </div>
   
     <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-theme-d2 w3-hide w3-hide-large w3-hide-medium ">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-opacity w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <a class="w3-bar-item w3-wide">Job Site</a>
    <a href="/login" id="username_small"   class="w3-bar-item w3-button"><i class="fa fa-user"></i> Login</a>
    <a href="/user_logout" id="logout_small" style="display: none;" class="w3-bar-item w3-button"><i class="fa fa-sign-out w3-text-red"></i> logout</a>
  </div>

{% block content %}{% endblock %}
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
   <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
  </footer>
  
  <script>
window.onload = function get_status(){
  user_load();
  {% block init_func %}{% endblock %};
  // var user_bar = document.getElementById('username_storage').innerText;
  // if (user_bar == " Login"){
    
  // }else{
  //   document.getElementById('username').href = ""
  //   document.getElementById('logout').style.display = ""
  // }


}

function user_load(){
        var not_dis_user = document.getElementById('username_storage').innerText;
        var not_dis_user_type = document.getElementById('usertype_storage').innerText;
        // console.log(not_dis_user == "")
        if (not_dis_user == "logout"){
          localStorage.removeItem("username")
        }else
        if (not_dis_user != ""){
          localStorage.setItem("username" , not_dis_user)
          localStorage.setItem("usertype" , not_dis_user_type)
        }

        if ("username" in localStorage && "usertype" in localStorage){
          document.getElementById('username').href = ""
          document.getElementById('username_small').href = ""
        if (localStorage.usertype == "recruiter"){
          document.getElementById('username').innerHTML = '<i class="fa fa-building w3-text-blue"></i> ' +  localStorage["username"]
          document.getElementById('username_small').innerHTML = '<i class="fa fa-building w3-text-blue"></i> ' +  localStorage["username"]
        }else{
          document.getElementById('username').innerHTML = '<i class="fa fa-user w3-text-green"></i> ' +  localStorage["username"]
          document.getElementById('username_small').innerHTML = '<i class="fa fa-user w3-text-green"></i> ' +  localStorage["username"]
        }
        
        document.getElementById('logout').style.display = ""
        document.getElementById('logout_small').style.display = ""
      }else{
        
      }
      document.getElementById('username').style.display = ""
      document.getElementById('spinner').style.display = "none"
        
};

// function user_logout(){
//         var Http = new XMLHttpRequest();
//         var url = "http://10.62.89.250:8090/logout"
//         Http.open("POST",url);
//         Http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
//         Http.send();
//         Http.onreadystatechange=(e)=>{
//             if (Http.readyState === 4){
//             var extra_json = Http.responseText;
//             window.location.href="http://10.62.89.250:8090/lcc"
//             };
//     };
// };

function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
function w3_close() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
  
  </body>
  </html>