{%extends "base.html" %}
{% load static %}
    {% block content %}
<!-- Sidebar/menu -->

<div class="w3-main" style="margin-left:10px;margin-top:73px;">

  <div class="w3-container w3-row">
    
    <div class="">
        <img src='{% static "images/avatar3.png" %}' class="w3-circle w3-margin-right" style="width:46px">
      <span>Welcome, <strong>Zzb</strong> <button class="w3-button w3-light-grey " >Candidate</button></span> <br>
    </div>
  </div>
 <hr>
  <div class="w3-container" style="width: 80%; ">

  <h5>Your Status</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Name</td>
        <td>zzb</td>
      </tr>
      <tr>
        <td>type</td>
        <td>Candidate</td>
      </tr>
      <tr>
        <td>Resume</td>
        <td>uploaded</td>
      </tr>
    </table>
  </div>

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-indigo w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>New Interview Invited</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-history w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>My Send Record</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-grey w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-cog w3-xxxlarge"></i></div>
        <div class="w3-right">
<!--          <h3>50</h3>-->
        </div>
        <div class="w3-clear"></div>
        <h4>Settings</h4>
      </div>
    </div>
  </div>
<hr>
<div class="w3-row-padding w3-margin-bottom">

    <div class="w3-quarter">
      <div class="w3-container w3-cyan w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-upload w3-xxxlarge"></i></div>
        <div class="w3-right">
<!--          <h3>50</h3>-->
        </div>
        <div class="w3-clear"></div>
        <h4>Upload Your Resume</h4>
      </div>
    </div>
  </div>
  <hr>


</div>
{% endblock %}
