{%extends "base.html" %}
{% load static %}


    {% block content %}
    <!-- Header -->
    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Find Job!</h1>
      <!-- <p class="w3-xlarge">Template by w3.css</p> -->
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
      onclick="window.location.href='/recruiter_page'">I am recruiter</button>
    </header>
    
    <!-- Team Section -->
<div class="w3-container" style="padding:50px 16px" id="team">
    <h3 class="w3-center">Job List</h3>
    <p class="w3-center w3-large">Find your Job</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team3.jpg" alt="Mike" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Details</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
    
    <!-- Footer -->
    <!-- <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
      <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
     </div>
    </footer>
    
    <script>
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
    
    </body>
</html> -->
