{%extends "base.html" %}
{% load static %}


    {% block content %}
    <!-- Header -->
    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Find Job!</h1>
      <!-- <p class="w3-xlarge">Template by w3.css</p> -->
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
      onclick="window.location.href='/recruiter_page'">I am recruiter</button>
    </header>
    


    <!-- Team Section -->
<div class="w3-container" style="padding:70px 16px" id="joblist">
    <h3 class="w3-center">Job List</h3>
    <p class="w3-center w3-large">Find your Job {{views_dict.name}}</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      {% for job in display_job_list %}

        <div class="w3-col l3 m6 w3-margin-bottom" id="jobcard{{job.id}}">
          <div class="w3-card" style="height:400px;overflow:auto">
            <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
            <div class="w3-container">

              <h3>{{ job.job_title }}<a style="padding-bottom: 10px; "></a></h3>
              <!-- <p class="w3-text-red">{{ job.salary }}</p> -->
              <h5 class="w3-text-red" style="margin-bottom: 0px;margin-top:5px">
                <i class="fa fa-jpy w3-opacity fa-1 w3-text-dark-gray" style="font-size:12px"></i>  {{ job.salary }}</h5>
              <p class="w3-opacity"><i class="fa fa-building-o"></i>  {{ job.company }}</p>
              <p class="w3-opacity"><i class="fa fa-map-marker"></i>  {{ job.location }}</p>
              <div  class="w3-opacity">
                  <h6><strong>requirements :</strong></h6>
                  <div style="white-space: pre-line; overflow:auto;height: 80px;">{{ job.requirements }}</div>
              </div>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: {{ job.data }}</p>
              <div style="display: none;" id={{job.id}}>{{job.received_resume}}</div>
              
              {%if username in job.received_resume %}
              <p><button class="w3-button  w3-block w3-green w3-opacity"><i class="fa fa-check w3-text-black"></i> Sent</button></p>

              {%elif user_type == "recruiter" %}
              <p><button class="w3-button w3-light-grey w3-block" disabled onclick="console.log( '{{job.id}}')">You are Recruiter</button></p>
              {% else %}
              <form action="/send_resume/" method="post">

                <input style="display:none" type="text" name="job_id" value="{{job.id}}" placeholder="" >
                <input style="display:none" type="text" name="username" value="{{username}}" placeholder="" >
                <p><input  type="submit" class="w3-button w3-light-grey w3-block"  value="Send Resume" ></i></input></p>
        
              </form>
              {% endif %}
              
            
            </div>
          </div>
        </div>
        {% endfor %}
    </div>


</div>
        
        
      
  {% endblock %}

  <!-- {% block script_func %}
  
  function send_resume(id) {

  }
  {% endblock %} -->