{%extends "base.html" %}
{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<title>Job Site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="static/image/favicon.JPG"/>
<link rel="stylesheet" href='{% static "/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>

<body> -->

    <!-- Navbar (sit on top) -->

    {% block content %}

    
    
    <!-- Header -->
    <header class="w3-container w3-grey w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Find Candidate!</h1>
      <!-- <p class="w3-xlarge">Template by w3.css</p> -->
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
      onclick="window.location.href='/index'">I am candidate</button>
    </header>

 <!-- resume list Section -->
 <div class="w3-container w3-padding-64" style="padding:28px 16px" id="received">
  <h3 class="w3-center">Received Resume</h3>
    <p class="w3-center w3-large">Please check</p>
    <div class="w3-row-padding w3-grayscale w3-center w3-padding-64" style="padding-left:5%;padding-right:5%;">
    <table class="w3-table w3-striped w3-white">
      <tr>
        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
        <td>Resume From 
          <p><i class="fa fa-users w3-text-blue w3-large"></i> zzb@qq.com</p>
          </td>
        <td><button class="w3-button w3-teal " style="width: 160px;"><i class="fa fa-download"></i> Download</button>
          <button class="w3-button w3-green " style="width: 160px;">Invite Interview</button></td>
        <!-- <td><button class="w3-button w3-green "><i class="fa fa-download"></i> Invite Interview</button></td> -->
      </tr>
      <tr>
        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
        <td>Resume From 
          <p><i class="fa fa-users w3-text-blue w3-large"></i> zzb2@qq.com</p>
          </td>
          <td><button class="w3-button w3-teal " style="width: 160px;"><i class="fa fa-download"></i> Download</button>
            <button class="w3-button w3-green " style="width: 160px;">Invite Interview</button></td>
        <!-- <td><button class="w3-button w3-green "><i class="fa fa-download"></i> Invite Interview</button></td> -->
      </tr>
      <tr>
        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
        <td>Resume From 
          <p><i class="fa fa-users w3-text-blue w3-large"></i> zzb3@qq.com</p>
          </td>
          <td><button class="w3-button w3-teal " style="width: 160px;"><i class="fa fa-download"></i> Download</button>
            <button class="w3-button w3-green " style="width: 160px;">Invite Interview</button></td>
        <!-- <td><button class="w3-button w3-green "><i class="fa fa-download"></i> Invite Interview</button></td> -->
      </tr>
      <tr>
        <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
        <td>Resume From 
          <p><i class="fa fa-users w3-text-blue w3-large"></i> zzb4@qq.com</p>
          </td>
          <td><button class="w3-button w3-teal " style="width: 160px;"><i class="fa fa-download"></i> Download</button>
            <button class="w3-button w3-green " style="width: 160px;">Invite Interview</button></td>
        <!-- <td><button class="w3-button w3-green "><i class="fa fa-download"></i> Invite Interview</button></td> -->
      </tr>
    </table></div>
  </div>
    <hr>
    <!-- Team Section -->
<div class="w3-container" style="padding:28px 16px" id="joblist">
    <h3 class="w3-center">Job List</h3>
    <p class="w3-center w3-large">Your Posted Jobs</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team3.jpg" alt="Mike" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
                <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
                <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <!-- <img src="/w3images/team4.jpg" alt="Dan" style="width:100%"> -->
          <div class="w3-container">
            <h3><i class="fa fa-qq"></i>Tencent</h3>
            <p class="w3-opacity">Java coder</p>
            <p>13k~20k</p>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: 2020-08-14</p>
               <p><button class="w3-button w3-light-grey w3-block">Delete</button></p>          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
    
    <!-- Footer -->
    <!-- <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
      <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
     </div>
    </footer>
    
    <script>
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
    
    </body>
</html> -->
