{%extends "base.html" %}
{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<title>Job Site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="static/image/favicon.JPG"/>
<link rel="stylesheet" href='{% static "/style.css" %}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>

<body> -->

    <!-- Navbar (sit on top) -->

    {% block content %}

    {%if user_type == "recruiter" %}
    
    <!-- Header -->
    <header class="w3-container w3-grey w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Get a Candidate</h1>
      <!-- <p class="w3-xlarge">Template by w3.css</p> -->
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
      onclick="window.location.href='/index'">I am a candidate</button>
    </header>

 <!-- resume list Section -->
 <div class="w3-container w3-padding-64" style="padding:28px 1px" id="received">
  <h3 class="w3-center">Received Resume</h3>
    <p class="w3-center w3-large">Please check</p>
    {%if not received_resume_list %}
      <p class="w3-center w3-opacity"><i class="fa fa-info-circle w3-text-orange"></i> You have Never recevied a resume</p>
    
      
      {%else%}
      <div class="w3-row-padding w3-grayscale w3-center w3-padding-64" style="padding-left:5%;padding-right:5%;">
      <table  class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        {% for received_resume in received_resume_list %}
        <tr>
          {%if received_resume.user in received_resume.interview_resume %}
          <td><i class="fa fa-check w3-text-green w3-large"></i></td>
          {%else%}
          <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
          {%endif%}
          <td>
            <p>From : 
              <form  action="/user_info/" method="GET">
              <input class="w3-input w3-border" type="text" name="user_info_name" value="{{received_resume.user}}" placeholder="" style="display:none" required>
              <button  type="submit" class="w3-button w3-border w3-hover-blue-gray"><i class="fa fa-users w3-text-blue w3-large"></i> {{received_resume.user}}
              </button>
              </form>
              </p>
            <p>for : {{received_resume.job}}</p>
            </td>
            <td><a href="/static/files/{{received_resume.user_resume}}" download><button class="w3-button w3-teal " style="width: 190px;"><i class="fa fa-download"></i> Download Resume</button></a>
            {%if received_resume.user  in received_resume.interview_resume %}
            <p><button class="w3-button w3-green " style="width: 190px;" disabled>Invited</button></p></td>
            {%else%}
          <form action="/send_invite/" method="post">

                <input style="display:none" type="text" name="job_id" value="{{received_resume.job_id}}"  placeholder="" >
                <input style="display:none" type="text" name="username" value="{{received_resume.user}}"  placeholder="" >
                <p><input  type="submit" class="w3-button w3-green "  style="width: 190px;" value="Invite Interview" ></i></input></p>

              </form>

            {%endif%}
          <!-- <td><button class="w3-button w3-green "><i class="fa fa-download"></i> Invite Interview</button></td> -->
        </tr>
  
        {% endfor %}
      </table>

     
    </div>
    {%endif%}
  </div>

    <hr>
    <!-- Team Section -->
<div class="w3-container" style="padding:28px 16px" id="joblist">
    <h3 class="w3-center">Job List</h3>
    <p class="w3-center w3-large">Your Posted Jobs</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      {% for job in display_job_list %}

        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
            <div class="w3-container">

              <h3>{{ job.job_title }}<a style="padding-bottom: 10px;"></a></h3>
              <!-- <p class="w3-text-red">{{ job.salary }}</p> -->
              <h5 class="w3-text-red" style="margin-bottom: 0px;margin-top:5px">
                <i class="fa fa-jpy w3-opacity fa-1 w3-text-dark-gray" style="font-size:12px"></i>  {{ job.salary }}</h5>
              <p class="w3-opacity"><i class="fa fa-building-o"></i>  {{ job.company }}</p>
              <p class="w3-opacity"><i class="fa fa-map-marker"></i>  {{ job.location }}</p>
              <div  class="w3-opacity">
                  <h6><strong>requirements :</strong></h6>
                  <div style="white-space: pre-line; overflow:auto;height: 80px;">{{ job.requirements }}</div>
              </div>
              <p><i class="fa fa-fw fa-clock-o"></i>  Posted date: {{ job.data }}</p>
              <div style="display: none;" id={{job.id}}>{{job.received_resume}}</div>
              
              <form action="/delete_job/" method="post">

                <input style="display:none" type="text" name="job_id" value="{{job.id}}"  placeholder="" >
                <input style="display:none" type="text" name="username" value="{{username}}" placeholder="" >
                <p><input  type="submit" class="w3-button w3-light-grey w3-block"  value="Delete Job" ></i></input></p>
        
              </form>
              
            
            </div>
          </div>
        </div>
        {% endfor %}
              
              
              
  </div>
</div>

{%else%}
<header class="w3-container w3-grey w3-center" style="padding:78px 16px">
  <h1 class="w3-margin w3-jumbo">No, You are Not!</h1>
  <!-- <p class="w3-xlarge">Template by w3.css</p> -->
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
  onclick="window.location.href='/index'">I am candidate</button>
</header>

<div class="w3-container w3-padding-64" style="padding:28px 1px" id="received2">
  <h3 class="w3-center">Get a Company Account</h3>
    <p class="w3-center w3-large">Go register</p>
</div>
{%endif%}
  {% endblock %}
